<%- include('includes/header')%>
<%- include('includes/navbar')%>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
            <div class="text-center">
                <img src="./public/assets/imagens/user.png" class="rounded" alt="...">
                <h1><%= user.nome %></h1>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Foto sua conta</label>
            <input type="file" class="form-control-file" name="imageUser" id="exampleFormControlFile1">
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer')%>
